In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\notebooks\Training-Testing Dataset\Training Data (RWS Oversampling).csv")
df.head(5)

,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Urban_Rural,Income_Level,Spouse_Working,Inter-Caste,Inter-Religion,target
0,23,Male,Graduate,Different,Hindu,Urban,Middle,No,No,No,Medium_Yes
1,28,Female,School,Same,Hindu,Rural,Middle,No,No,Yes,Low_No
2,39,Male,Postgraduate,Same,Muslim,Rural,High,No,No,No,Medium_No
3,26,Female,School,Different,Hindu,Urban,High,No,Yes,No,Low_No
4,32,Female,Graduate,Same,Hindu,Rural,Middle,No,No,Yes,Medium_No

In [14]:
count = dict(df["target"].value_counts())
for clss,freq in count.items():
    count[clss] = int(freq)
print(count)

{'Medium_Yes': 4492, 'Low_No': 4492, 'Medium_No': 4492, 'High_No': 4492, 'Low_Yes': 4492, 'High_Yes': 4492}

In [13]:
org_df = pd.read_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\processed\TrainingData\marriage_data_india.csv")

In [15]:
count = dict(org_df["target"].value_counts())
for clss,freq in count.items():
    count[clss] = int(freq)
print(count)

{'Medium_No': 4492, 'High_No': 2689, 'Low_No': 1818, 'Medium_Yes': 509, 'High_Yes': 304, 'Low_Yes': 188}