In [1]:
import pandas as pd

In [2]:
df = pd.read_stata(r"D:\FinalYearProject\Matrimony_Matchmaker\data\IHDS-DATA\ICPSR_37382\DS0007\37382-0007-Data.dta")
df.to_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\IHDS-DATA\HouseHold-data-1.csv")

In [ ]:
df = pd.read_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\raw\TrainingData\IHDS_DATA\HouseHold-data-1.csv")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1016\3556343784.py:1: DtypeWarning: Columns (24,34,39,45,46,48,84,106,125,151,153,165,171,173,185,189,190,191,192,193,204,205,217,232,236,237,239,240,241,242,244,246,247,249,250,256,260,262,263,264,265,266,267,280,281,378,405,406,407,428,433,434,436,443,444,445,446,447,448,453,455,459,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,488,489,490,491,493,494,495,496,497,498,499,500,501,502,503,504,505,506,515,516,521,522,529,530,531,543,546,550,551,552,553,554,555,556,557,566,570,571,582,593,594,595,609,619,620,621,622,624,656,665,666,667,686,688,690,691,693,694,696,697,699,700,731,732,733,736,743,756,775,776,777,778,779,780,781,782,783,784,785,786,804,809,810,811,812) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\raw\TrainingData\IHDS_DATA\HouseHold-data-1.csv")

In [4]:
df.head()

,Unnamed: 0,SURVEY,HHBASE,HHFAM2,STATEID,DISTID,PSUID,HHID,HHSPLITID,IDPSU,...,POP01,OH9H,OH9M,OG6H,OG6M,OG6A,POORI,POOR1,POOR2,POOR
0,0,IHDS1 1,1.010201e+09,0,Jammu & Kashmir 01,2,1,1,0,10201,...,0-1000 1000,3.0,45.0,4.0,0.0,PM 2,nonpoor 0,nonpoor 0,NaN,0.0
1,1,IHDS1 1,1.010201e+09,0,Jammu & Kashmir 01,2,1,2,0,10201,...,0-1000 1000,3.0,10.0,3.0,35.0,PM 2,nonpoor 0,nonpoor 0,NaN,0.0
2,2,IHDS1 1,1.010201e+09,0,Jammu & Kashmir 01,2,1,3,0,10201,...,0-1000 1000,12.0,50.0,12.0,50.0,PM 2,nonpoor 0,nonpoor 0,NaN,0.0
3,3,IHDS1 1,1.010201e+09,0,Jammu & Kashmir 01,2,1,4,0,10201,...,0-1000 1000,11.0,20.0,11.0,30.0,AM 1,nonpoor 0,nonpoor 0,NaN,0.0
4,4,IHDS1 1,1.010201e+09,0,Jammu & Kashmir 01,2,1,5,0,10201,...,0-1000 1000,3.0,0.0,3.0,15.0,PM 2,nonpoor 0,nonpoor 0,NaN,0.0

In [3]:
df = pd.read_stata(r"D:\FinalYearProject\Matrimony_Matchmaker\data\IHDS-DATA\ICPSR_37382\DS0001\37382-0001-Data.dta")
df.to_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\IHDS-DATA\HouseHold-data-1.csv")

In [ ]:
df = pd.read_csv(r"D:\FinalYearProject\Matrimony_Matchmaker\data\IHDS-DATA\HouseHold-data-1.csv")
df.head()