In [7]:
import pandas as pd
import json,random

In [8]:
df = pd.read_csv("../../data/processed/TrainingData/marriage_data_india.csv")
df.head(5)

,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Urban_Rural,Income_Level,Spouse_Working,Inter-Caste,Inter-Religion,target
0,23,Male,Graduate,Different,Hindu,Urban,Middle,No,No,No,Medium_Yes
1,28,Female,School,Same,Hindu,Rural,Middle,No,No,Yes,Low_No
2,39,Male,Postgraduate,Same,Muslim,Rural,High,No,No,No,Medium_No
3,26,Female,School,Different,Hindu,Urban,High,No,Yes,No,Low_No
4,32,Female,Graduate,Same,Hindu,Rural,Middle,No,No,Yes,Medium_No

In [9]:
missing_values_count = df.isnull().sum()
print(missing_values_count)

Age_at_Marriage    0
Gender             0
Education_Level    0
Caste_Match        0
Religion           0
Urban_Rural        0
Income_Level       0
Spouse_Working     0
Inter-Caste        0
Inter-Religion     0
target             0
dtype: int64

In [10]:
missing_count_per_row = df.isnull().sum(axis=1)
print(missing_count_per_row)

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int64

In [11]:
# Calculate the percentage of missing values in each column
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage.sort_values(ascending=False))

Age_at_Marriage    0.0
Gender             0.0
Education_Level    0.0
Caste_Match        0.0
Religion           0.0
Urban_Rural        0.0
Income_Level       0.0
Spouse_Working     0.0
Inter-Caste        0.0
Inter-Religion     0.0
target             0.0
dtype: float64

In [12]:
# Creates a boolean Series: True if the row has any null value.
rows_with_any_none = df.isnull().any(axis=1)

# Uses the boolean Series to filter the original DataFrame
problem_rows_df = df[rows_with_any_none]
print(problem_rows_df)

Empty DataFrame
Columns: [Age_at_Marriage, Gender, Education_Level, Caste_Match, Religion, Urban_Rural, Income_Level, Spouse_Working, Inter-Caste, Inter-Religion, target]
Index: []

In [13]:
df.where(pd.notna(df), None)

,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Urban_Rural,Income_Level,Spouse_Working,Inter-Caste,Inter-Religion,target
0,23,Male,Graduate,Different,Hindu,Urban,Middle,No,No,No,Medium_Yes
1,28,Female,School,Same,Hindu,Rural,Middle,No,No,Yes,Low_No
2,39,Male,Postgraduate,Same,Muslim,Rural,High,No,No,No,Medium_No
3,26,Female,School,Different,Hindu,Urban,High,No,Yes,No,Low_No
4,32,Female,Graduate,Same,Hindu,Rural,Middle,No,No,Yes,Medium_No
...,...,...,...,...,...,...,...,...,...,...,...
9995,25,Male,Postgraduate,Different,Hindu,Urban,Low,Yes,No,No,Medium_No
9996,31,Female,School,Same,Hindu,Rural,Low,No,No,No,High_No
9997,22,Male,Graduate,Same,Hindu,Rural,Low,No,Yes,No,Medium_No
9998,39,Male,Postgraduate,Same,Muslim,Urban,Middle,No,No,No,Medium_No
9999,36,Male,School,Different,Hindu,Urban,Middle,Yes,No,Yes,High_No

Age,gender,eduction_level(degrees),caste,Income(salary LPA) these are the features that are observed in the 
Advertisement for bride or groom

In [14]:
for i in df.columns:
    print(f"\n {i}")
    print(df[i].dtype)
    print(df[i].unique())

print(df["Income_Level"].unique())

 Age_at_Marriage
int64
[23 28 39 26 32 37 24 18 22 19 31 34 20 27 35 36 21 29 30 25 33 38]

 Gender
object
['Male' 'Female']

 Education_Level
object
['Graduate' 'School' 'Postgraduate' 'PhD']

 Caste_Match
object
['Different' 'Same']

 Religion
object
['Hindu' 'Muslim' 'Sikh' 'Christian' 'Others']

 Urban_Rural
object
['Urban' 'Rural']

 Income_Level
object
['Middle' 'High' 'Low']

 Spouse_Working
object
['No' 'Yes']

 Inter-Caste
object
['No' 'Yes']

 Inter-Religion
object
['No' 'Yes']

 target
object
['Medium_Yes' 'Low_No' 'Medium_No' 'High_No' 'Low_Yes' 'High_Yes']
['Middle' 'High' 'Low']

In [15]:
df2 = pd.read_csv("../../data/processed/ProfileData/processed_vivah_profiles.csv")
df2.head(5)

,Religion,Caste,Mother Tongue,Profession,Education,Age,Height in cm,Height_ft_in,Country,State,City,Gender,Income,Independency,Previous Marriage,Addiction
0,hindu,maratha,english,scientist,Postgraduate,26,162,5ft 4in,india,maharashtra,navi mumbai,Female,High,Low,0,No
1,muslim,hanafi,urdu,not working,Graduate,21,154,5ft 1in,india,telangana,hyderabad,Female,Low,Low,0,No
2,hindu,brahmin himachali,hindi,not working,Graduate,35,162,5ft 4in,india,himachal pradesh,shimla,Female,Low,Medium,0,No
3,hindu,koli,kannada,doctor,Postgraduate,30,162,5ft 4in,india,karnataka,bidar,Female,High,High,0,Yes
4,hindu,kuruba,kannada,admin/ front office,Graduate,30,162,5ft 4in,india,karnataka,bangalore,Female,Low,Medium,0,No

In [16]:
for col in df2.columns:
    print(f"\n{col}")
    print(df2[col].unique())

Religion
['hindu' 'muslim' 'buddhist']

Caste
['maratha' 'hanafi' 'brahmin himachali' 'koli' 'kuruba' 'brahmin'
 'buddhist' 'rajput' 'vishwakarma' 'brahmin gour']

Mother Tongue
['english' 'urdu' 'hindi' 'kannada' 'punjabi' 'marathi' 'kumoani'
 'bhojpuri']

Profession
['scientist' 'not working' 'doctor' 'admin/ front office' 'other'
 'consultant' 'chartered accountant']

Education
['Postgraduate' 'Graduate' 'School' 'Other']

Age
[26 21 35 30 33 32 22]

Height in cm
[162 154 152 157 132]

Height_ft_in
['5ft 4in' '5ft 1in' '5ft 0in' '5ft 2in' '4ft 4in']

Country
['india']

State
['maharashtra' 'telangana' 'himachal pradesh' 'karnataka' 'delhi'
 'uttar pradesh' 'jharkhand' 'odisha']

City
['navi mumbai' 'hyderabad' 'shimla' 'bidar' 'bangalore' 'new delhi'
 'wardha' 'greater noida' 'jamshedpur' 'cuttack']

Gender
['Female' 'Male']

Income
['High' 'Low']

Independency
['Low' 'Medium' 'High']

Previous Marriage
[0 1]

Addiction
['No' 'Yes']

General: General Brahmin, General, Kayastha, Baisya, Banerjee, Mukherjee, Roy, Biswas, Chatterjee, Dutta, Banik, Ganguly, Bhattacharya, Aguri, Tili

OBC: Tili, Kumbhakar, Swarnakar, Napit, Goala, Barujibi, Malakar, Sadgop, Tambuli

SC: Namasudra

Muslim (OBC eligible): Sunni

In [17]:
# List of castes
castes = {
    "Brahmin": 64,
    "SC": 7,
    "OBC": 0.1,
    "Baisya": 7,
    "Kayastha": 85,
    "Banerjee": 4,
    "General": 2,
    "Tili": 6,
    "Barujibi": 1,
    "Kumbhakar": 1,
    "Napit": 1,
    "Namasudra": 8,
    "Sunni": 5,
    "Sadgop": 6,
    "Mukherjee": 2,
    "Subarna Banik": 2,
    "Yadav": 1,
    "Mahishya":6,
    "Karmakar": 1,
    "Tantybaya": 1,
    "Pal": 1,
    "Gandha Banik": 1,
    "others": 1
}

def select_caste_by_weight():
    caste = list(castes.keys())
    freq = list(castes.values())
    return random.choices(caste, weights=freq, k=1)[0]

School-Class VIII
Graduate-Bcom, BSc, BA, BA Ed, Btech, LLB
Postgraduate-MA, B.Ed, MBA, Masters, LLM, MSC B Ed, MDS
PhD-PhD

In [18]:
degrees = {
    'B.Tech MBA':6,
    'MBA':12,
    'B.Tech':14,
    'BSc': 2,
    'BA': 6,
    'MA B.Ed': 4,
    'MA':6,
    'MSC B.Ed': 7,
    'BA B.Ed': 1,
    'PhD':1,
    'Bcom':0.5,
    'LLB': 1,
    'LLM': 0.5,
    'MBBS':1,
    'M.Tech,PHD':1,
    'M.Tech': 2,
    'M.SC,PHD': 1,
    'B.com':1,
    'IIT':5,
    'NIT':1

}
def select_degree_by_weight():
    degree = list(degrees.keys())
    freq = list(degrees.values())
    return random.choices(degree, weights=freq, k=1)[0]

Low: Hospital Nurse, Advocate, College lecturer
Middle: 12LPA, 15LPA, MNC-IT, IT, Digital Marketing B'lore, Bank, Business, Pharma Co B'loe, Law Firm
High: 20LPA, Research-Scholar-Germany, Law Firm

In [19]:
salaries_preofessions ={
    'B.Tech 10LPA': 2,
    'MBA 12LPA': 2,
    'B.Tech 15LPA': 1,
    'MBA 35LPA': 1,
    'MNC 18LPA': 1,
    'MNC 9LPA':1,
    'Working at Indian Oil 14LPA': 1,
    'Project Manager at IBM-35LPA':1,
    'B.Tech MBA Pvt 10LPA': 1,
    'M.Teach 14LPA': 1,
    'MBA 12LPA': 1,
    'MNC-IT': 5,
    'MNC':2,
    'IT': 4,
    'Researcg-Scholar-germany': 1,
    'Business': 4,
    'Bank': 3,
    'Pharma Co B\'loe': 1,
    'Law Firm': 1,
    'Advocate': 1,
    'College lecturer': 1,
    'Digital Marketting B\'lore': 1,
    'Officer in Central Govt.': 1,
    'Asst Professor':2,
    'Asst Professor in Govt College': 2,
    'Working at TCS':1,
    'MBA-10LPA':1,
    'IT Engineer(U.K.)': 1,
    'Professor':1,
    'Working IN U.S.':1,
    'Railway Asst. Engineer':1,
    'Govt job':1,
    'Bank Manager':1,
} 
def slect_profession_by_weight():
    salaries_preofession = list(salaries_preofessions.keys())
    freq = list(salaries_preofessions.values())
    return random.choices(salaries_preofession, weights=freq, k=1)[0]

In [20]:
age = [
    23, 28, 39, 26, 32, 37, 24, 18, 22, 19, 31, 34, 20, 27, 35, 
    36, 21, 29, 30, 25, 33, 38
]
heights = [162, 154, 152, 157, 132]

In [21]:
sum = df["Religion"].value_counts().sum()
religion_weights = dict(df["Religion"].value_counts().apply(lambda x : x/sum))

print(religion_weights)
# Define list of Hindu castes
hindu_castes = [
    "Brahmin", "SC", "OBC", "Baisya", "Kayastha", "Banerjee", "General",
    "Tili", "Barujibi", "Kumbhakar", "Napit", "Namasudra", "Sadgop",
    "Mukherjee", "Subarna Banik", "Yadav", "Mahishya", "Karmakar",
    "Tantybaya", "Pal", "Gandha Banik", "others"
]

{'Hindu': np.float64(0.6034), 'Muslim': np.float64(0.1939), 'Christian': np.float64(0.099), 'Others': np.float64(0.0531), 'Sikh': np.float64(0.0506)}

Age,gender,eduction_level(degrees),caste,Income(salary LPA) these are the features that are observed in the 
Advertisement for bride or groom

In [ ]:
# df["UserID"] = [i for i in range(1,len(df) + 1)]
# df.set_index("UserID", inplace=True) 

# user_profile= {
#     "Age": df["Age_at_Marriage"],
#     "Gender": df["Gender"],
#     "Education": [select_degree_by_weight() for _ in range(len(df))],
#     "Caste": [select_caste_by_weight() for _ in range(len(df))],
#     "Profession": [slect_profession_by_weight() for _ in range(len(df))],
#     "Religion": [random.choices(
#                     population=list(religion_weights.keys()),
#                     weights=list(religion_weights.values()))[0] for _ in range(len(df))],
#     "Residence": random.choice(['urban','rural']),
#     "Height_cm": random.choice(heights),
#     "Extras": df.apply(
#         lambda x: json.dumps({
#             "Urban_Rural": x["Urban_Rural"],
#             "Spouse_Working": x["Spouse_Working"]
#         }),
#         axis=1
#     )
# }
# user_profile_df = pd.DataFrame(user_profile)
# user_profile_df.head(5)

,Age,Gender,Education,Caste,Profession,Religion,Residence,Height_cm,Extras
UserID,,,,,,,,,
1,23,Male,MBA,Brahmin,MNC-IT,Hindu,urban,132,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
2,28,Female,BA,Brahmin,Law Firm,Hindu,urban,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
3,39,Male,BA,OBC,MNC-IT,Muslim,urban,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
4,26,Female,BSc,Sunni,Law Firm,Hindu,urban,132,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
5,32,Female,MA B.Ed,Kayastha,Business,Others,urban,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"

In [26]:
df["UserID"] = [i for i in range(1, len(df) + 1)]
df.set_index("UserID", inplace=True)

# Generate castes once
castes_generated = [select_caste_by_weight() for _ in range(len(df))]

user_profile = {
    "Age": df["Age_at_Marriage"],
    "Gender": df["Gender"],
    "Education": [select_degree_by_weight() for _ in range(len(df))],
    "Caste": castes_generated,
    "Profession": [slect_profession_by_weight() for _ in range(len(df))],
    "Religion": [
        "Hindu" if caste in hindu_castes else
        random.choices(
            population=list(religion_weights.keys()),
            weights=list(religion_weights.values())
        )[0]
        for caste in castes_generated
    ],
    "Residence": [random.choice(['urban', 'rural']) for _ in range(len(df))],
    "Height_cm": [random.choice(heights) for _ in range(len(df))],
    "Extras": df.apply(
        lambda x: json.dumps({
            "Urban_Rural": x["Urban_Rural"],
            "Spouse_Working": x["Spouse_Working"]
        }),
        axis=1
    )
}

user_profile_df = pd.DataFrame(user_profile)
user_profile_df.head(5)

,Age,Gender,Education,Caste,Profession,Religion,Residence,Height_cm,Extras
UserID,,,,,,,,,
1,23,Male,BA,Brahmin,Govt job,Hindu,urban,132,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
2,28,Female,"M.SC,PHD",Kayastha,Researcg-Scholar-germany,Hindu,urban,152,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
3,39,Male,B.Tech,Brahmin,MNC-IT,Hindu,rural,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
4,26,Female,B.Tech MBA,SC,Pharma Co B'loe,Hindu,urban,162,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
5,32,Female,PhD,Kayastha,College lecturer,Hindu,rural,157,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"

In [27]:
user_profile_df.loc[1,"Caste"]

'Brahmin'

In [28]:
def assign_preferred_cast(row):
    if row["Caste_Match"] == "Same":
        return user_profile_df.loc[row.name, "Caste"]
    else:
        return select_caste_by_weight()

In [29]:
def assign_preferred_religion(row):
    if row["Inter-Religion"] == "No":
        print(row.name)
        return user_profile_df.loc[row.name, "Religion"]
    else:
        return random.choices(
            population=list(religion_weights.keys()),
            weights=list(religion_weights.values())
        )[0]

In [30]:
sum = df["Age_at_Marriage"].value_counts().sum()
age_weights = dict(df["Age_at_Marriage"].value_counts().apply(lambda x : x/sum))

print(age_weights)

{31: np.float64(0.0488), 26: np.float64(0.0487), 29: np.float64(0.0484), 27: np.float64(0.0479), 22: np.float64(0.0476), 28: np.float64(0.0471), 34: np.float64(0.047), 30: np.float64(0.0465), 19: np.float64(0.0462), 20: np.float64(0.046), 35: np.float64(0.046), 37: np.float64(0.0455), 32: np.float64(0.0455), 36: np.float64(0.0448), 33: np.float64(0.0441), 21: np.float64(0.0438), 38: np.float64(0.0437), 24: np.float64(0.0433), 18: np.float64(0.043), 39: np.float64(0.0422), 25: np.float64(0.0422), 23: np.float64(0.0417)}

In [31]:
gender = df["Gender"].apply(lambda x: "Female" if x == "Male" else "Male")

In [35]:
user_preference_df = pd.DataFrame(index=df.index)
user_preference_df["PreferenceID"] = [f"P{i:03d}" for i in range(1,len(user_profile_df) + 1)]
user_preference_df.set_index("PreferenceID", inplace=True)
user_preference_df["Age"] = [random.choices(population=list(age_weights.keys()),
                                             weights=list(age_weights.values()))[0] 
                             for _ in range(len(df))]
user_preference_df["Gender"] = gender.values
user_preference_df["Education"] = [select_degree_by_weight() for _ in range(len(df))]
user_preference_df["Caste"] = [
    user_profile_df.loc[i, "Caste"] if df.loc[i, "Caste_Match"]=="Same" else select_caste_by_weight()
    for i in df.index
]
user_preference_df["Profession"] = [slect_profession_by_weight() for _ in range(len(df))]
user_preference_df["Residence"] = [random.choice(['urban','rural']) for _ in range(len(df))]
user_preference_df["Religion"] = [
    user_profile_df.loc[i, "Religion"] if df.loc[i, "Inter-Religion"]=="No" else
    random.choices(population=list(religion_weights.keys()), weights=list(religion_weights.values()))[0]
    for i in df.index
]
user_preference_df["Height_cm"] = [random.choice(heights) for _ in range(len(df))]
user_preference_df["Extras"] = df.apply(
    lambda x: json.dumps({
        "Urban_Rural": x["Urban_Rural"],
        "Spouse_Working": x["Spouse_Working"]
    }),
    axis=1
)
user_preference_df["userID"] = user_profile_df.index

user_preference_df.head(5)

,Age,Gender,Education,Caste,Profession,Residence,Religion,Height_cm,Extras,userID
PreferenceID,,,,,,,,,,
P001,24,Female,B.com,Kayastha,Professor,rural,Hindu,162,NaN,1
P002,18,Male,MA,Kayastha,B.Tech 10LPA,rural,Hindu,152,NaN,2
P003,26,Female,MBA,Brahmin,Business,urban,Hindu,132,NaN,3
P004,23,Male,MA,Sunni,MNC-IT,urban,Hindu,132,NaN,4
P005,22,Male,MBA,Kayastha,Bank,rural,Hindu,154,NaN,5

AttributeError: 'Pandas' object has no attribute 'Inter-Religion'

In [40]:
user_preference_df.head()
user_preference_df.index

Index(['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P007', 'P008', 'P009',
       'P010',
       ...
       'P9991', 'P9992', 'P9993', 'P9994', 'P9995', 'P9996', 'P9997', 'P9998',
       'P9999', 'P10000'],
      dtype='object', name='PreferenceID', length=10000)

In [ ]:
user_profile_df["PreferenceID"] = user_preference_df.index.values

In [36]:
user_profile_df.to_csv("user_profiles.csv")
user_preference_df.to_csv("user_preferences.csv")

In [51]:
user_profile_df = pd.read_csv("user_profiles.csv")
user_preference_df = pd.read_csv("user_preferences.csv")

In [52]:
user_profile_df.head()

,UserID,Age,Genedr,Education,Caste,Profession,Religion,residence,Height_cm,Extras,PreferenceID
0,U001,23,Male,MBA,General,Digital Marketting B'lore,Hindu,rural,132,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}",P001
1,U002,28,Female,MBA,Sunni,MNC-IT,Hindu,rural,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}",P002
2,U003,39,Male,MA B.Ed,Kayastha,Hospital Nurse,Hindu,rural,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}",P003
3,U004,26,Female,BA,Brahmin,20LPA,Hindu,rural,132,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}",P004
4,U005,32,Female,B.Tech,Kumbhakar,MNC-IT,Hindu,rural,132,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}",P005

In [53]:
user_preference_df.head()

,PreferenceID,Age,Gender,Education,Caste,Profession,Residence,Religion,Height_cm,Extras
0,P001,39,Female,BA,Brahmin,Pharma Co B'loe,urban,Hindu,162,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
1,P002,27,Male,BA,Sunni,12LPA,rural,Christian,152,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
2,P003,35,Female,MSC B.Ed,Kayastha,15LPA,urban,Hindu,162,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"
3,P004,37,Male,MA B.Ed,OBC,MNC-IT,rural,Hindu,154,"{""Urban_Rural"": ""Urban"", ""Spouse_Working"": ""No""}"
4,P005,32,Male,MSC B.Ed,Kumbhakar,Bank,urban,Hindu,154,"{""Urban_Rural"": ""Rural"", ""Spouse_Working"": ""No""}"

In [71]:
df = pd.read_csv("user_profiles.csv")
# Calculate the percentage of missing values in each column
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage.sort_values(ascending=False))

UserID        0.0
Age           0.0
Genedr        0.0
Education     0.0
Caste         0.0
Profession    0.0
Religion      0.0
Residence     0.0
Height_cm     0.0
Extras        0.0
dtype: float64

In [1]:
import pandas as pd

df = pd.read_csv("Balanced_Training_Data.csv")

for i in df.columns:
    print(f"\n {i}")
    print(df[i].dtype)
    print(df[i].unique())

 Husband_age
float64
[44. 25. 42. 30. 49. 41. 45. 35. 34. 26. 27. 47. 39. 40. 32. 21. 24. 50.
 43. 48. 37. 54. 33. 31. 52. 38. 23. 29. 53. 46. 28. 36. 51. 22. 19. 20.
 55. 57. 59. 95. 15. 60. 58. 18. 56. 17. 70. 74. 61. 69. 65. 62. 85. 68.]

 Wife's_current_age
float64
[40. 22. 27. 33. 21. 49. 32. 43. 26. 28. 42. 37. 34. 29. 36. 30. 19. 18.
 48. 39. 45. 25. 20. 38. 47. 23. 44. 24. 35. 31. 41. 46. 16. 17. 15.]

 Wife's height(centimeters)
float64
[153.3 145.5 152.1 152.5 150.2 157.7 153.2 141.6 191.3 152.9 162.8 148.6
 153.9 152.6 150.5 145.3 151.2 159.4 149.8 143.2 141.1 163.4 149.  146.2
 160.4 160.9 156.1 154.4 154.  154.6 140.1 150.  151.7 147.2 141.  151.8
 151.1 149.2 145.9 146.4 150.3 158.9 156.2 152.4 147.  159.8 154.3 146.8
 149.4 154.9 148.7 147.8 143.7 153.6 143.6 148.9 157.  152.2 147.7 149.5
 154.2 161.4 164.7 162.1 172.8 150.6 147.3 151.5 161.3 150.7 156.4 156.9
 162.  148.5 151.9 154.5 153.4 149.3 156.8 138.8 153.1 147.5 144.5 156.5
 155.6 167.2 156.6 153.8 157.5 148.2 143.8 156.7 152.8 149.9 157.2 159.1
 149.6 165.8 152.  155.3 138.3 167.  156.  153.5 164.1 152.7 148.1 159.6
 157.4 155.4 160.5 145.4 147.1 141.2 151.4 152.3 143.4 148.  162.5 155.2
 145.6 159.3 157.9 142.2 149.7 155.8 150.1 147.4 139.5 147.6 146.  146.5
 146.9 161.2 146.6 143.9 142.1 143.  145.8 146.7 159.  145.7 158.3 150.8
 160.1 159.5 139.1 157.6 165.4 144.7 153.7 145.2 163.9 155.  160.  145.1
 151.3 195.6 163.  139.  158.5 159.2 158.4 157.8 157.1 139.6 154.1 156.3
 158.  154.7 151.6 161.5 155.1 151.  148.4 144.1 160.8 142.5 149.1 164.3
 133.1 162.4 146.1 143.3 140.7 148.3 140.3 141.8 157.3 160.2 158.6 142.6
 161.7 140.8 163.6 146.3 154.8 159.9 167.6 162.2 153.  138.1 159.7 142.4
 158.7 143.5 144.6 148.8 150.4 155.5 158.8 165.6 144.3 143.1 164.2 155.9
 140.6 163.5 144.2 138.2 144.9 140.2 144.8 162.3 139.3 161.8 167.4 161.1
 141.9 176.2 168.5 160.3 168.4 165.  139.9 164.6 166.4 161.6 170.2 141.3
 142.7 141.7 134.8 145.  158.2 141.5 162.6 150.9 135.4 136.5 142.  167.3
 163.1 133.5 132.5 138.6 135.7 141.4 137.8 163.7 155.7 165.2 139.7 163.2
 147.9 142.8 169.3 166.5 174.7 160.6 164.  175.8 161.9 142.9 144.4 158.1
 135.5 170.4 135.  114.5 136.9 135.2 134.6 164.5 142.3 164.4 163.8 138.5
 144.  138.4 137.2 135.8 136.2 162.7 165.7 167.5 137.7 140.5 161.  133.4
 137.3 168.2 139.4 140.  133.3 163.3 173.1 137.5 137.4 199.8 137.  165.1
 139.2  97.1 168.1 166.6 160.7 136.4 136.1 132.1 130.5 138.9 136.7 169.4
 164.9 166.9 169.9 168.3 136.3 166.1 166.7 138.7 166.3 140.9 177.4 165.5
 167.7 129.8 175.3 166.2 169.2 176.1 164.8 170.1 137.9 135.3 172.4 135.1
 130.4 132.2 167.1 165.3 136.6 169.1 166.  168.8 120.3 173.8 171.4 170.5
 106.1 114.8 172.  166.8 131.4 197.6 175.9 134.1 165.9 140.4 162.9 136.8
 168.7 168.  131.1 133.9 124.3 138.  171.  167.8 169.  130.9 115.5 173.9
 132.3 137.1 131.6 171.1 134.2 202.1 115.2 132.4 136.  139.8 174.  170.6
 178.4 172.1 170.  198.6 135.9 171.3 171.9 137.6 171.5 172.6 169.6 171.2
 103.3 193.  169.5 177.8 168.9 134.7 114.4 133.8 168.6 129.6 134.4 169.7
 134.9 171.7 132.7 172.3 113.3 173.4 174.4 181.3 130.8 130.2 132.6 120.9
 167.9 134.5 132.  176.9 181.1 172.2 190.9 128.7 131.5 170.8 185.5 115.6
 195.9 107.1 178.9 194.6 120.4 127.8 122.3 196.2 107.7 170.9 173.2 133.7
 175.1 130.7 131.7 169.8 133.6 173.  170.3 134.  132.8 171.6 100.3 117.2
 102.4  83.5 173.7 174.5 170.7 110.5 102.2 172.7 135.6 185.7 101.9 197.
 180.8  99.1 175.2 198.8 116.8 174.2 192.  104.3 130.1  87.  115.8 176.3
 173.3 129.5 176.4 109.7 124.  103.   80.  190.4 184.5 130.3 105.2 134.3
 128.  126.7 107.9 119.7 130.  173.5 196.  173.6 172.9 127.5 186.3 177.1
 175.5 191.9 103.2 171.8 179.4 132.9 128.2 131.2]

 Marital_Stability_Cluster
float64
[0. 1.]

 Husband's Education Level_Higher Secondary
bool
[False  True]

 Husband's Education Level_Post-Graduate (MBA/MA)
bool
[False  True]

 Husband's Education Level_Secondary or below
bool
[ True False]

 Husband Occupation_(grouped)_Clerical
bool
[False  True]

 Husband Occupation_(grouped)_Don't know
bool
[False  True]

 Husband Occupation_(grouped)_Not working
bool
[False  True]

 Husband Occupation_(grouped)_Other
bool
[False  True]

 Husband Occupation_(grouped)_Professional / technical / managerial
bool
[False  True]

 Husband Occupation_(grouped)_Sales
bool
[False  True]

 Husband Occupation_(grouped)_Services / household and domestic
bool
[False  True]

 Husband Occupation_(grouped)_Skilled and unskilled manual
bool
[ True False]

 Husband Ethnicity_Don't know
bool
[False  True]

 Husband Ethnicity_No caste / tribe
bool
[False  True]

 Husband Ethnicity_Tribe
bool
[False  True]

 Husband Religion_Christian
bool
[False  True]

 Husband Religion_Hindu
bool
[ True False]

 Husband Religion_Jain
bool
[False  True]

 Husband Religion_Jewish
bool
[False  True]

 Husband Religion_Muslim
bool
[False  True]

 Husband Religion_No religion
bool
[False  True]

 Husband Religion_Other
bool
[False  True]

 Husband Religion_Sikh
bool
[False  True]

 Wife's Education Level_Higher Secondary
bool
[False  True]

 Wife's Education Level_Post-Graduate (MBA/MA)
bool
[False  True]

 Wife's Education Level_Secondary or below
bool
[ True False]

 Wife's_occupation_(grouped)_Clerical
bool
[False  True]

 Wife's_occupation_(grouped)_Don't know
bool
[False  True]

 Wife's_occupation_(grouped)_Not working
bool
[ True False]

 Wife's_occupation_(grouped)_Other
bool
[False  True]

 Wife's_occupation_(grouped)_Professional / technical / managerial
bool
[False  True]

 Wife's_occupation_(grouped)_Sales
bool
[False  True]

 Wife's_occupation_(grouped)_Services / household and domestic
bool
[False  True]

 Wife's_occupation_(grouped)_Skilled and unskilled manual
bool
[False  True]

 Wife's Ethnicity_Don't know
bool
[False  True]

 Wife's Ethnicity_No caste / tribe
bool
[False  True]

 Wife's Ethnicity_Tribe
bool
[False  True]

 Wife's Religion_Christian
bool
[False  True]

 Wife's Religion_Hindu
bool
[ True False]

 Wife's Religion_Jain
bool
[False  True]

 Wife's Religion_Jewish
bool
[False  True]

 Wife's Religion_Muslim
bool
[False  True]

 Wife's Religion_No religion
bool
[False  True]

 Wife's Religion_Other
bool
[False  True]

 Wife's Religion_Parsi / Zoroastrian
bool
[False  True]

 Wife's Religion_Sikh
bool
[False  True]

 residence_Urban
bool
[ True False]

 State_Andhra Pradesh
bool
[False  True]

 State_Arunachal Pradesh
bool
[False  True]

 State_Assam
bool
[False  True]

 State_Bihar
bool
[ True False]

 State_Chandigarh
bool
[False  True]

 State_Chhattisgarh
bool
[False  True]

 State_Dadra & Nagar Haveli And Daman & Diu
bool
[False  True]

 State_Goa
bool
[False  True]

 State_Gujarat
bool
[False  True]

 State_Haryana
bool
[False  True]

 State_Himachal Pradesh
bool
[False  True]

 State_Jammu & Kashmir
bool
[False  True]

 State_Jharkhand
bool
[False  True]

 State_Karnataka
bool
[False  True]

 State_Kerala
bool
[False  True]

 State_Ladakh
bool
[False  True]

 State_Lakshadweep
bool
[False  True]

 State_Madhya Pradesh
bool
[False  True]

 State_Maharashtra
bool
[False  True]

 State_Manipur
bool
[False  True]

 State_Meghalaya
bool
[False  True]

 State_Mizoram
bool
[False  True]

 State_Nagaland
bool
[False  True]

 State_Nct Of Delhi
bool
[False  True]

 State_Odisha
bool
[False  True]

 State_Puducherry
bool
[False  True]

 State_Punjab
bool
[False  True]

 State_Rajasthan
bool
[False  True]

 State_Sikkim
bool
[False  True]

 State_Tamil Nadu
bool
[False  True]

 State_Telangana
bool
[False  True]

 State_Tripura
bool
[False  True]

 State_Uttar Pradesh
bool
[False  True]

 State_Uttarakhand
bool
[False  True]

 State_West Bengal
bool
[False  True]

 Marital_Stability_Target
int64
[1 0]