In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [32]:
df = pd.read_csv("../../../data/raw/TrainingData/marriage_data_india.csv")

# Needed for ealuation of compatibility = 'Marital_Satisfaction',(mean can be used) ,Divorce_Status,Years_Since_Marriage
# Dont needed  = Marriage_Type,Parental_Approval,Dowry_Exchanged,'Children_Count',spouse workingYears_Since_Marriage'
df.drop(columns=['ID','Marriage_Type','Parental_Approval','Dowry_Exchanged','Children_Count','Spouse_Working','Years_Since_Marriage'],inplace=True)

In [12]:
df["Marital_Satisfaction"].value_counts()

Marital_Satisfaction
Medium    5001
High      2993
Low       2006
Name: count, dtype: int64

In [11]:
df["Divorce_Status"].value_counts()

Divorce_Status
No     8999
Yes    1001
Name: count, dtype: int64

In [33]:
df.head()

,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Urban_Rural,Marital_Satisfaction,Divorce_Status,Income_Level,Inter-Caste,Inter-Religion
0,23,Male,Graduate,Different,Hindu,Urban,Medium,Yes,Middle,No,No
1,28,Female,School,Same,Hindu,Rural,Low,No,Middle,No,Yes
2,39,Male,Postgraduate,Same,Muslim,Rural,Medium,No,High,No,No
3,26,Female,School,Different,Hindu,Urban,Low,No,High,Yes,No
4,32,Female,Graduate,Same,Hindu,Rural,Medium,No,Middle,No,Yes

In [21]:
"""
Total 6 combinations possible
    Satisfaction=High && Divorce = No
    Satisfaction=Medium && Divorce = No
    Satisfaction=Low && Divorce = No
    Satisfaction=High && Divorce = Yes
    Satisfaction=Medium && Divorce = Yes
    Satisfaction=Low && Divorce = Yes
"""
unique_combinations = pd.MultiIndex.from_product(
    [df["Marital_Satisfaction"].unique(),df["Divorce_Status"].unique()],
    names=["Marital_Satisfaction","Divorce_Status"]
)
for i in unique_combinations:
    print(i)

('Medium', 'Yes')
('Medium', 'No')
('Low', 'Yes')
('Low', 'No')
('High', 'Yes')
('High', 'No')

In [31]:
# Counting such combinations of target variable "Marital_Satisfaction" & "Divorce_Status"
count = dict(df.groupby(["Marital_Satisfaction","Divorce_Status"]).size())



Target_combination_df = pd.DataFrame([(k[0],k[1],val) for k,val in count.items()],columns=["Marital_Satisfaction","Divorce_Status","count"]) 
print(Target_combination_df)

  Marital_Satisfaction Divorce_Status  count
0                 High             No   2689
1                 High            Yes    304
2                  Low             No   1818
3                  Low            Yes    188
4               Medium             No   4492
5               Medium            Yes    509