In [2]:
import glob
import os.path
import joblib
import numpy as np
import pandas as pd
import sklearn
from sklearn import preprocessing

In [4]:
df = pd.read_csv("../../../data/raw/TrainingData/okcupid_profiles_1.csv")

In [6]:
df.head(4)
df.columns

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [7]:
columns = ['diet', 'drinks','last_online','pets','sign',
       'smokes','essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'] 
df.drop(columns= [c for c in columns], inplace=True)

In [8]:
df.head(20)

,age,status,sex,orientation,body_type,drugs,education,ethnicity,height,income,job,location,offspring,religion,speaks
0,22,single,m,straight,a little extra,never,working on college/university,"asian, white",75.0,-1,transportation,"south san francisco, california","doesn't have kids, but might want them",agnosticism and very serious about it,english
1,35,single,m,straight,average,sometimes,working on space camp,white,70.0,80000,hospitality / travel,"oakland, california","doesn't have kids, but might want them",agnosticism but not too serious about it,"english (fluently), spanish (poorly), french (..."
2,38,available,m,straight,thin,NaN,graduated from masters program,NaN,68.0,-1,NaN,"san francisco, california",NaN,NaN,"english, french, c++"
3,23,single,m,straight,thin,NaN,working on college/university,white,71.0,20000,student,"berkeley, california",doesn't want kids,NaN,"english, german (poorly)"
4,29,single,m,straight,athletic,never,graduated from college/university,"asian, black, other",66.0,-1,artistic / musical / writer,"san francisco, california",NaN,NaN,english
5,29,single,m,straight,average,NaN,graduated from college/university,white,67.0,-1,computer / hardware / software,"san francisco, california","doesn't have kids, but might want them",atheism,"english (fluently), chinese (okay)"
6,32,single,f,straight,fit,never,graduated from college/university,"white, other",65.0,-1,NaN,"san francisco, california",NaN,NaN,english
7,31,single,f,straight,average,never,graduated from college/university,white,65.0,-1,artistic / musical / writer,"san francisco, california","doesn't have kids, but wants them",christianity,"english, spanish (okay)"
8,24,single,f,straight,NaN,NaN,graduated from college/university,white,67.0,-1,NaN,"belvedere tiburon, california",doesn't have kids,christianity but not too serious about it,english
9,37,single,m,straight,athletic,never,working on two-year college,white,65.0,-1,student,"san mateo, california",NaN,atheism and laughing about it,english (fluently)
10,35,available,m,straight,average,NaN,NaN,white,70.0,-1,NaN,"san francisco, california",NaN,NaN,english
11,28,seeing someone,m,straight,average,never,graduated from college/university,white,72.0,40000,banking / financial / real estate,"daly city, california",NaN,christianity and very serious about it,"english (fluently), sign language (poorly)"
12,24,single,m,straight,NaN,NaN,NaN,white,72.0,-1,entertainment / media,"san francisco, california",doesn't have kids,other,english
13,30,single,f,straight,skinny,never,graduated from high school,white,66.0,30000,sales / marketing / biz dev,"san francisco, california",NaN,christianity but not too serious about it,english
14,29,single,f,straight,thin,never,working on college/university,"hispanic / latin, white",62.0,50000,other,"san leandro, california","doesn't have kids, but wants them",catholicism,english
15,39,single,f,straight,fit,NaN,graduated from college/university,white,65.0,-1,medicine / health,"san francisco, california",doesn't have kids,atheism and laughing about it,"english (fluently), spanish (okay)"
16,33,single,m,straight,fit,NaN,working on masters program,white,70.0,-1,entertainment / media,"oakland, california",NaN,NaN,"english (fluently), c++ (fluently), german (po..."
17,26,single,f,straight,average,never,working on college/university,hispanic / latin,64.0,-1,banking / financial / real estate,"san francisco, california",doesn't have kids,NaN,english
18,31,single,m,straight,average,never,graduated from space camp,white,71.0,-1,medicine / health,"san francisco, california",NaN,christianity,english (fluently)
19,33,single,m,straight,athletic,never,graduated from masters program,white,72.0,-1,science / tech / engineering,"san francisco, california",doesn't have kids,catholicism but not too serious about it,english (fluently)